/*
Core CSS required for ionic components to work property.

The imports below are needed to include our light dom css for global styles
such as fonts and colors. You can comment out any of these imports if you do
not need that css. For example, if you have your own global font family css
then you can comment out the typography.css import.
*/
@import '~@ionic/core/css/core.css'

/*
Basic CSS for apps built with Ionic.
*/
@import '~@ionic/core/css/normalize.css'
@import '~@ionic/core/css/structure.css'
@import '~@ionic/core/css/typography.css'

/*
Optional CSS utils that can be commented out.
*/
@import '~@ionic/core/css/padding.css'
@import '~@ionic/core/css/float-elements.css'
@import '~@ionic/core/css/text-alignment.css'
@import '~@ionic/core/css/text-transformation.css'
@import '~@ionic/core/css/flex-utils.css'
@import '~@ionic/core/css/display.css'

/*
Custom variables to theme this app.
*/
@import 'variables'

/*
Custom NProgress styles.
@import '~nprogress/nprogress.css' // for reference
*/
#nprogress
	/*
	The bar color gets set to light after the app has loaded.
	@see `hideLoadingPseudoElement` in `src/helpers/ui.ts`
	*/
	--bar-color: var(--ion-color-dark)

	pointer-events: none

	.bar
		background: var(--bar-color)

		position: fixed
		z-index: 1031
		top: 0
		left: 0
		width: 100%
		height: 2px

	.peg // blur effect
		display: block
		position: absolute
		right: 0px
		width: 100px
		height: 100%
		opacity: 1.0
		box-shadow: 0 0 10px var(--bar-color), 0 0 5px var(--bar-color)
		transform: rotate(3deg) translate(0px, -4px)

/*
Fix for ion-label.
@todo remove this once fixed, because it adds unnecessary margin
@see https://github.com/ionic-team/ionic/issues/16422
*/
.item .sc-ion-label-md-h
	margin: 10px 0
	line-height: 1.2 !important

/*
Add a pseudo-element to the body to indicate that the app is loading. This gets
removed using JS after the app has loaded.
@see `hideLoadingPseudoElement` in `src/helpers/ui.ts`
*/
html::after
	content: 'Loading Jitbug...'
	z-index: 1000 // less than nprogress bar
	pointer-events: none
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	line-height: 100vh
	text-align: center
	vertical-align: middle
	font-family: sans-serif
	color: var(--ion-color-dark)
	background: white

	transition: opacity 0.35s ease
