// see https://ionicframework.com/docs/theming/advanced#colors
:root
	// primary
	--ion-color-primary: #cf3423
	--ion-color-primary-rgb: 207, 52, 35
	--ion-color-primary-contrast: #ffffff
	--ion-color-primary-contrast-rgb: 255, 255, 255
	--ion-color-primary-shade: #b62e1f
	--ion-color-primary-tint: #d44839

	// secondary
	--ion-color-secondary: #f7941e
	--ion-color-secondary-rgb: 247, 148, 30
	--ion-color-secondary-contrast: #ffffff
	--ion-color-secondary-contrast-rgb: 255, 255, 255
	--ion-color-secondary-shade: #d9821a
	--ion-color-secondary-tint: #f89f35

	// tertiary
	--ion-color-tertiary: #054760
	--ion-color-tertiary-rgb: 5, 71, 96
	--ion-color-tertiary-contrast: #ffffff
	--ion-color-tertiary-contrast-rgb: 255, 255, 255
	--ion-color-tertiary-shade: #043e54
	--ion-color-tertiary-tint: #1e5970

	// success
	--ion-color-success: #33cd5f
	--ion-color-success-rgb: 51, 205, 95
	--ion-color-success-contrast: #ffffff
	--ion-color-success-contrast-rgb: 255, 255, 255
	--ion-color-success-shade: #2db454
	--ion-color-success-tint: #47d26f

	// warning
	--ion-color-warning: #ffac1e
	--ion-color-warning-rgb: 255, 172, 30
	--ion-color-warning-contrast: #ffffff
	--ion-color-warning-contrast-rgb: 255, 255, 255
	--ion-color-warning-shade: #e0971a
	--ion-color-warning-tint: #ffb435

	// danger
	--ion-color-danger: #ff4626
	--ion-color-danger-rgb: 255, 70, 38
	--ion-color-danger-contrast: #ffffff
	--ion-color-danger-contrast-rgb: 255, 255, 255
	--ion-color-danger-shade: #e03e21
	--ion-color-danger-tint: #ff593c

	// dark
	--ion-color-dark: #222428
	--ion-color-dark-rgb: 34, 34, 34
	--ion-color-dark-contrast: var(--ion-color-light-contrast)
	--ion-color-dark-contrast-rgb: var(--ion-color-light-contrast-rgb)
	--ion-color-dark-shade: #1e2023
	--ion-color-dark-tint: #383a3e

	// medium
	--ion-color-medium: #989aa2
	--ion-color-medium-rgb: 152, 154, 162
	--ion-color-medium-contrast: #ffffff
	--ion-color-medium-contrast-rgb: 255, 255, 255
	--ion-color-medium-shade: #86888f
	--ion-color-medium-tint: #a2a4ab

	// light
	--ion-color-light: #f4f5f8
	--ion-color-light-rgb: 244, 244, 244
	--ion-color-light-contrast: var(--ion-color-dark-contrast)
	--ion-color-light-contrast-rgb: var(--ion-color-dark-contrast)
	--ion-color-light-shade: #d7d8da
	--ion-color-light-tint: #f5f6f9
